* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 100%;
  height: 2620px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_3 {
  width: 100%;
  height: 2620px;
  background: url("../images/v1_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_4 {
  width: 746px;
  height: 2503px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 587px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 2.666670083999634px 61px rgba(0, 0, 0, 0.07000000029802322);
  overflow: hidden;
}
.v1_5 {
  width: 746px;
  height: 2503px;
  background: url("../images/v1_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v1_6 {
  width: 747px;
  height: 533px;
  background: url("../images/v1_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_7 {
  width: 747px;
  height: 270px;
  background: linear-gradient(rgba(76,191,199,1), rgba(120,125,255,1));
  opacity: 1;
  position: absolute;
  top: 533px;
  left: 0px;
  overflow: hidden;
}
.v1_8 {
  width: 747px;
  height: 270px;
  background: url("../images/v1_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_9 {
  width: 512px;
  height: 512px;
  background: url("../images/v1_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 121px;
  left: 118px;
  overflow: hidden;
}
.v1_10 {
  width: 512px;
  height: 512px;
  background: url("../images/v1_10.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_11 {
  width: 746px;
  height: 270px;
  background: url("../images/v1_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v1_12 {
  width: 328px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 69px;
  left: 64px;
  font-family: Source Sans Pro;
  font-weight: Regular;
  font-size: 58px;
  opacity: 1;
  text-align: left;
}
.v1_13 {
  width: 468px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 168px;
  left: 64px;
  font-family: Source Sans Pro;
  font-weight: Light;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v1_14 {
  width: 153px;
  color: rgba(87,87,87,1);
  position: absolute;
  top: 866px;
  left: 64px;
  font-family: Source Sans Pro;
  font-weight: Regular;
  font-size: 37px;
  opacity: 1;
  text-align: left;
}
.v1_15 {
  width: 618px;
  height: 21px;
  background: url("../images/v1_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 941px;
  left: 64px;
  overflow: hidden;
}
.v1_16 {
  width: 128px;
  height: 3px;
  background: rgba(120,198,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 0px;
  overflow: hidden;
}
.v1_17 {
  width: 618px;
  color: rgba(74,74,74,1);
  position: absolute;
  top: 996px;
  left: 64px;
  font-family: Source Sans Pro;
  font-weight: Light;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v1_18 {
  width: 618px;
  color: rgba(74,74,74,1);
  position: absolute;
  top: 1038px;
  left: 64px;
  font-family: Source Sans Pro;
  font-weight: Light;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v1_19 {
  width: 618px;
  color: rgba(74,74,74,1);
  position: absolute;
  top: 1081px;
  left: 64px;
  font-family: Source Sans Pro;
  font-weight: Light;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v1_20 {
  width: 618px;
  color: rgba(74,74,74,1);
  position: absolute;
  top: 1124px;
  left: 64px;
  font-family: Source Sans Pro;
  font-weight: Light;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v1_21 {
  width: 618px;
  color: rgba(74,74,74,1);
  position: absolute;
  top: 1166px;
  left: 64px;
  font-family: Source Sans Pro;
  font-weight: Light;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v1_22 {
  width: 504px;
  color: rgba(74,74,74,1);
  position: absolute;
  top: 1209px;
  left: 64px;
  font-family: Source Sans Pro;
  font-weight: Light;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v1_23 {
  width: 747px;
  height: 21px;
  background: url("../images/v1_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1309px;
  left: 0px;
  overflow: hidden;
}
.v1_24 {
  width: 747px;
  height: 1px;
  background: rgba(0,0,0,0.12999999523162842);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  overflow: hidden;
}
.v1_25 {
  width: 282px;
  color: rgba(87,87,87,1);
  position: absolute;
  top: 1393px;
  left: 64px;
  font-family: Source Sans Pro;
  font-weight: Regular;
  font-size: 37px;
  opacity: 1;
  text-align: left;
}
.v1_26 {
  width: 618px;
  height: 21px;
  background: url("../images/v1_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1467px;
  left: 64px;
  overflow: hidden;
}
.v1_27 {
  width: 128px;
  height: 3px;
  background: rgba(120,198,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 0px;
  overflow: hidden;
}
.v1_28 {
  width: 618px;
  color: rgba(74,74,74,1);
  position: absolute;
  top: 1522px;
  left: 64px;
  font-family: Source Sans Pro;
  font-weight: Light;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v1_29 {
  width: 452px;
  color: rgba(74,74,74,1);
  position: absolute;
  top: 1565px;
  left: 64px;
  font-family: Source Sans Pro;
  font-weight: Light;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v1_30 {
  width: 618px;
  height: 210px;
  background: url("../images/v1_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1630px;
  left: 64px;
  overflow: hidden;
}
.v1_31 {
  width: 618px;
  height: 42px;
  background: url("../images/v1_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_32 {
  width: 16px;
  height: 42px;
  background: url("../images/v1_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 30px;
  overflow: hidden;
}
.v1_33 {
  width: 29px;
  height: 29px;
  background: rgba(120,198,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  border-bottom-left-radius: 29px;
  border-bottom-right-radius: 29px;
  overflow: hidden;
}
.v1_34 {
  width: 29px;
  height: 29px;
  background: url("../images/v1_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_35 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 7px;
  overflow: hidden;
}
.v1_36 {
  width: 9px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
}
.v1_37 {
  width: 486px;
  color: rgba(92,92,92,1);
  position: absolute;
  top: 7px;
  left: 46px;
  font-family: Source Sans Pro;
  font-weight: Light;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v1_38 {
  width: 618px;
  height: 42px;
  background: url("../images/v1_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 0px;
  overflow: hidden;
}
.v1_39 {
  width: 16px;
  height: 42px;
  background: url("../images/v1_39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 30px;
  overflow: hidden;
}
.v1_40 {
  width: 29px;
  height: 29px;
  background: rgba(120,198,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  border-bottom-left-radius: 29px;
  border-bottom-right-radius: 29px;
  overflow: hidden;
}
.v1_41 {
  width: 29px;
  height: 29px;
  background: url("../images/v1_41.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_42 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 7px;
  overflow: hidden;
}
.v1_43 {
  width: 9px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
}
.v1_44 {
  width: 394px;
  color: rgba(92,92,92,1);
  position: absolute;
  top: 7px;
  left: 46px;
  font-family: Source Sans Pro;
  font-weight: Light;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v1_45 {
  width: 618px;
  height: 42px;
  background: url("../images/v1_45.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 0px;
  overflow: hidden;
}
.v1_46 {
  width: 16px;
  height: 42px;
  background: url("../images/v1_46.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 30px;
  overflow: hidden;
}
.v1_47 {
  width: 29px;
  height: 29px;
  background: rgba(120,198,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  border-bottom-left-radius: 29px;
  border-bottom-right-radius: 29px;
  overflow: hidden;
}
.v1_48 {
  width: 29px;
  height: 29px;
  background: url("../images/v1_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_49 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_49.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 7px;
  overflow: hidden;
}
.v1_50 {
  width: 9px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
}
.v1_51 {
  width: 373px;
  color: rgba(92,92,92,1);
  position: absolute;
  top: 7px;
  left: 46px;
  font-family: Source Sans Pro;
  font-weight: Light;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v1_52 {
  width: 618px;
  height: 42px;
  background: url("../images/v1_52.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 167px;
  left: 0px;
  overflow: hidden;
}
.v1_53 {
  width: 16px;
  height: 42px;
  background: url("../images/v1_53.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 30px;
  overflow: hidden;
}
.v1_54 {
  width: 29px;
  height: 29px;
  background: rgba(120,198,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  border-bottom-left-radius: 29px;
  border-bottom-right-radius: 29px;
  overflow: hidden;
}
.v1_55 {
  width: 29px;
  height: 29px;
  background: url("../images/v1_55.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_56 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_56.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 7px;
  overflow: hidden;
}
.v1_57 {
  width: 9px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
}
.v1_58 {
  width: 496px;
  color: rgba(92,92,92,1);
  position: absolute;
  top: 7px;
  left: 46px;
  font-family: Source Sans Pro;
  font-weight: Light;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v1_59 {
  width: 747px;
  height: 21px;
  background: url("../images/v1_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1905px;
  left: 0px;
  overflow: hidden;
}
.v1_60 {
  width: 747px;
  height: 1px;
  background: rgba(0,0,0,0.12999999523162842);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  overflow: hidden;
}
.v1_61 {
  width: 507px;
  color: rgba(87,87,87,1);
  position: absolute;
  top: 1989px;
  left: 64px;
  font-family: Source Sans Pro;
  font-weight: Regular;
  font-size: 37px;
  opacity: 1;
  text-align: left;
}
.v1_62 {
  width: 618px;
  height: 21px;
  background: url("../images/v1_62.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2063px;
  left: 64px;
  overflow: hidden;
}
.v1_63 {
  width: 128px;
  height: 3px;
  background: rgba(120,198,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 0px;
  overflow: hidden;
}
.v1_64 {
  width: 618px;
  color: rgba(74,74,74,1);
  position: absolute;
  top: 2118px;
  left: 64px;
  font-family: Source Sans Pro;
  font-weight: Light;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v1_65 {
  width: 618px;
  color: rgba(74,74,74,1);
  position: absolute;
  top: 2161px;
  left: 64px;
  font-family: Source Sans Pro;
  font-weight: Light;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v1_66 {
  width: 618px;
  color: rgba(74,74,74,1);
  position: absolute;
  top: 2203px;
  left: 64px;
  font-family: Source Sans Pro;
  font-weight: Light;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v1_67 {
  width: 201px;
  color: rgba(74,74,74,1);
  position: absolute;
  top: 2246px;
  left: 64px;
  font-family: Source Sans Pro;
  font-weight: Light;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v1_68 {
  width: 111px;
  height: 24px;
  background: url("../images/v1_68.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2415px;
  left: 64px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  overflow: hidden;
}
.v1_69 {
  width: 111px;
  height: 24px;
  background: url("../images/v1_69.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_70 {
  width: 102px;
  color: rgba(74,74,74,0.49799999594688416);
  position: absolute;
  top: 5px;
  left: 5px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v1_71 {
  width: 618px;
  height: 53px;
  background: url("../images/v1_71.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2308px;
  left: 64px;
  overflow: hidden;
}
.v1_72 {
  width: 53px;
  height: 53px;
  background: rgba(67,169,176,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 53px;
  border-top-right-radius: 53px;
  border-bottom-left-radius: 53px;
  border-bottom-right-radius: 53px;
  overflow: hidden;
}
.v1_73 {
  width: 31px;
  height: 31px;
  background: url("../images/v1_73.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 11px;
  overflow: hidden;
}
.v1_74 {
  width: 31px;
  height: 31px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_75 {
  width: 23px;
  height: 22px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 5px;
}
.v1_76 {
  width: 53px;
  height: 53px;
  background: rgba(120,142,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 70px;
  border-top-left-radius: 53px;
  border-top-right-radius: 53px;
  border-bottom-left-radius: 53px;
  border-bottom-right-radius: 53px;
  overflow: hidden;
}
.v1_77 {
  width: 31px;
  height: 31px;
  background: url("../images/v1_77.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 11px;
  overflow: hidden;
}
.v1_78 {
  width: 31px;
  height: 31px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_79 {
  width: 23px;
  height: 23px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 5px;
}
.v1_80 {
  width: 53px;
  height: 53px;
  background: rgba(120,125,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 139px;
  border-top-left-radius: 53px;
  border-top-right-radius: 53px;
  border-bottom-left-radius: 53px;
  border-bottom-right-radius: 53px;
  overflow: hidden;
}
.v1_81 {
  width: 31px;
  height: 31px;
  background: url("../images/v1_81.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 11px;
  overflow: hidden;
}
.v1_82 {
  width: 31px;
  height: 31px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_83 {
  width: 27px;
  height: 21px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 3px;
}
